.DS_Store
node_modules
# .env - NO se deja versión del mismo ya que puede contener datos sensibles. En este caso si porque es para desarrollo
# src/firebase-key.json - NO se deja versión del mismo ya que puede contener datos sensibles. En este caso si porque es para desarrollo